body{
  font-family: "Raleway", sans-serif; /*шрифт*/
}

.header-bd {
    overflow: hidden;
    margin-top: 0%;
    position: relative;
    z-index: 2;
    background-image: url("body-img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  @media (max-width: 600px){
    .header-bd{
      background-position: 50%;
    }
  }
.header-bd::after {
    content: "";
    background: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.nav{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 60px;
}
.nav::after{
  content: '';
  width: 100%;
  background: black;
  opacity: 0.6;
  z-index: -1;
}
.nav-list{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 40px;
}
@media (max-width: 600px){
    .logo{
    height: 30px;
    }
    }
.logo-list{
    display: flex;
    height: 100%;
    align-items: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.text-header{
    position: relative;
    color: white;
    margin-top: 20px;
    font-weight: bold; /*жирність тексту*/
    font-size: 18px; /*розмір тексту*/
}
@media (max-width: 600px){
    .text-header{
    font-size : 10px;
    }
}
    .text-header::after{
    content: "";
    height: 2px;
    width: 100%;
    background: rgb(204, 38, 38);
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -8px;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
  }
  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  .kontakt {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    font-weight: bold; /*жирність тексту*/
    background-color: rgb(204, 38, 38);
    color: white;
    padding: 0 10px; /*бокове розширення блоку*/
    font-size: 16px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
  }
  .kontakt:hover{
    background-color: red;
    transition: 1s;
  }
  @media (max-width: 600px){
      .kontakt{
      height: 20px;
      font-size : 10px;
      padding: 0 5px;
      }
  }
  .logo-img{
    height: 1em;
    padding-right: 5px;
}
.bt-header {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: flex;
    align-items: center;
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(204, 38, 38, 0.7);
    max-width: 130px;
    /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px 13.5px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  @media screen and (max-width: 600px) {
    .dropdown-content a{
    padding: 0 7.5px;
    font-size : 10px;
    }
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: red;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
  .ttt{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    z-index: 5;
  }
.open-dialog{
  position: absolute;
    z-index: 100;
}
#dialog-1{
  z-index: 100;
  max-width: 100%;
}
#closeDialog{
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: end;
  background-color: black;
  left: 0;
  top: 0;
}
#caption-1{
  position: absolute;
  left: 40%;
  padding-right: 57px;
  z-index: 2;
  color: white;
}
@media screen and (max-width:450px) {
  #caption-1{
    font-size: 12px;
    top: 6px;
  }
}
#closeDialogButton{
  width: 50px;
  background-color: rgb(204, 38, 38);
  color: white;
  border-style: none;
  font-weight: bolder;
}
#closeDialogButton:hover{
  background-color: red;
  transition: 0.5s;
}
.tab-scroll{
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 500px;
}
.table-1{
  font-family: "Raleway", sans-serif; /*шрифт*/
  font-weight: bolder;
  height: 100%;
  caption-side: top;
}
@media screen and (max-width: 450px) {
  .table-1{
    font-size: 10px;
    width: 100%;
  }
}
.table-1 thead th{
  border: 1px solid black;
  padding: 10px 15px;
  text-align: left;
  background-color: rgb(50, 50, 190);
}
.table-1 tbody td{
  position: relative;
  border: 1px solid black;
  padding: 10px 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #b4b4b4;
}